<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.android.chrome" />
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlsServiceSystem"
        android:debuggable="false"
        tools:targetApi="31"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <!-- below line is to set the action to our intent to view -->
                <action android:name="android.intent.action.VIEW" />

                <!-- on below line we are adding a default category to our intent -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- on below line we are adding a category to make our app browsable -->
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="flslogin"
                    android:host="www.mcimb.com"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.aeon.flsservicesystem.print.PrintActivity"
            android:exported="true">

            <intent-filter android:autoVerify="true">
                <!-- below line is to set the action to our intent to view -->
                <action android:name="android.intent.action.VIEW" />

                <!-- on below line we are adding a default category to our intent -->
                <category android:name="android.intent.category.DEFAULT" />

                <!-- on below line we are adding a category to make our app browsable -->
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- on below line we are specifying the host name and
                    the scheme type from which we will be calling our app -->
                <data android:scheme="flsprint"
                        android:host="www.mcimb.com"/>
            </intent-filter>
        </activity>
        <activity android:name=".WebActivity" />



        <provider
            android:name=".provider.OrderProvider"
            android:authorities="com.aeon.flsservicesystem.provider"
            android:syncable="true"
            android:exported="false" />


        <service android:name=".tracking.TrackingUpdateService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false"/>
        <!-- <service android:name=".tracking.TrackingService"
            android:foregroundServiceType="location"
            tools:ignore="ForegroundServicePermission" />



        <service android:name=".tracking.TrackingUpdater"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":tracking_updater"
            android:exported="true" />-->

        <receiver android:name=".tracking.TrackingBroadcastReceiver"
            android:exported="false">
         <!--   <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>-->
        </receiver>
        <receiver android:name=".tracking.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>